<header>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li><a href="{% url 'index' %}">HOME</a></li>
                <li>
                    <a href="#">Category</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="{% url 'category' 'top_rated' %}">Top Rated</a></li>
                            <li><a href="{% url 'category' 'recently_added' %}">Recently Added</a></li>
                            <li><a href="{% url 'category' 'morning' %}">Morning</a></li>
                            <li><a href="{% url 'category' 'afternoon' %}">Afternoon</a></li>
                            <li><a href="{% url 'category' 'evening' %}">Evening</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>