{% extends 'meals/base.html' %}
{% load  static %}
{% block title %}
<title class="uk-text-capitalize">{{ meal.name }}</title>
{% endblock %}

{% block content %}
{% include 'meals/header.html' %}
<div class="uk-container uk-flex uk-flex-column uk-flex-center">
    <h2 class="uk-text-center uk-margin-top uk-text-capitalize">{{ meal.name }}</h2>
    <div class="uk-flex uk-flex-center">
            <img class="uk-width-xlarge" src="/media/{{ meal.imageUrl }}" alt="">
    </div>
    <div class="uk-text-center uk-margin-top" >
        <p>Country of origin: {{ meal.countryOfOrigin }}</p>
        <p>Description: {{ meal.description }}</p>
        <p>Avg Score: {{ meal.avgRating }}</p>
        <p>Votes: {{ meal.numberOfVotes }}</p> 
    </div>
    <div class="uk-text-center">
            <h3>Your Rating:</h3>
            <h3 class="uk-margin-remove-top">
                <output id="value"></output>
            </h3>
            <div class="uk-flex uk-flex-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="uk-margin">
                        <input id="rating-input" name="rating" class="uk-width-medium uk-margin-bottom" type="range" step="0.5" min="0" max="5" >
                    </div>
                    <button type="submit" class="uk-button uk-button-primary uk-align-center uk-margin-remove-top">Submit</button>
                </form>
            </div>
    </div>
</div>

<script>
    const value = document.querySelector("#value");
    const input = document.querySelector("#rating-input");
    value.textContent = input.value;
    input.addEventListener("input", (event) => {
    value.textContent = event.target.value;
});
</script>
{% endblock %}